
.slider-container {
  width: 250px;
  height: 50px;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.inner-slider {
  width: 150%;
  display: flex;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}